USE [master]
GO
/****** Object:  Database [WebAppDataBase]    Script Date: 05.06.2025 2:15:48 ******/
CREATE DATABASE [WebAppDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebAppDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebAppDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebAppDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebAppDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAppDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebAppDataBase]
GO
/****** Object:  Table [dbo].[Todos]    Script Date: 05.06.2025 2:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[is_completed] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Todos] ON 

INSERT [dbo].[Todos] ([id], [title], [is_completed], [created_at]) VALUES (10, N'10.06.2025 поехать на дачу и вскопать огород', 1, CAST(N'2025-06-05T02:04:47.200' AS DateTime))
INSERT [dbo].[Todos] ([id], [title], [is_completed], [created_at]) VALUES (11, N'11.06.2025 встреча с клиентом', 1, CAST(N'2025-06-05T02:05:33.937' AS DateTime))
INSERT [dbo].[Todos] ([id], [title], [is_completed], [created_at]) VALUES (13, N'12.06.2025 забрать автомобиль из ремонта', 0, CAST(N'2025-06-05T02:06:27.390' AS DateTime))
SET IDENTITY_INSERT [dbo].[Todos] OFF
GO
ALTER TABLE [dbo].[Todos] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[Todos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
